body {
    background-color: rgb(248, 233, 255);
    color:black;
    font-family:cursive
p {
    color: crimson;
    color: brown;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p {
    color: blueviolet;
}
.first-para {
    color: black;
}
p.thick {
    font-weight: bold;
}
}